*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.main{
    width: 100%;
    background:linear-gradient( rgba(0,0,0,0.8) , rgba(0,0,0,0.7)), url("wallpaper.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.logo{
    color: rgb(42, 185, 131);
    font-size: 60px;
    float: left;
    font-family: Arial;
    padding: 45px;
    font-weight: bold;
    cursor: pointer;
}
.logo:hover{
    font-size: 70px;
    transition: 0.6s;
}
.logo span{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu{
    width: 55%;
    margin: auto;
    padding: 65px 0;
    justify-content: center;
    display: flex;
    align-items: center;
}
.menu ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.menu ul li a{
    color: white;
    font-family: Arial;
    font-size: 17px;
    
}

.menu ul li::after{
    content:'';
    height: 2px;
    background: rgb(42, 185, 131);
    width: 0%;
    left:0;
    bottom: -6px;
    position: absolute;
    transition: 0.5s;
}
.menu ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    transform: translateY(60%);
}
.content h1{
    font-family: Arial;
    font-size: 70px;
    letter-spacing: 1px;
}
.content h1:hover{
    color:rgb(42, 185, 131);
    transition: 0.5s;
    font-size: 73px;
}
.content p{
    font-family: Arial;
    letter-spacing: 1px;
}
button{
    background: transparent;
    border: 3px solid rgb(42, 185, 131) ;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    width: 150px;
    margin: 20px 10px;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span{
    background: rgb(42, 185, 131);
    width: 0%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border:none
}
